$ cat .gitignore
/data
geometric/__pycache__/generic.cpython-310.pyc
materials-project/__pycache__/config.cpython-310.pyc
materials-project/__pycache__/external.cpython-310.pyc
materials-project/config.py
